{% extends "layout.html" %}

{% block content %}

{% load static %}

<div class="wrapper">
    <div class="container">
        <header>
            <h1>Medical Image Retrieval</h1>
        </header>
        <main>
            <form method="POST" id="submitForm">
                {% csrf_token %}
                <div class="row input-section">
                    <div class="col">
                        <img src="{% static 'image/profile_placeholder.webp' %}" id="query-image" class="med-image"
                            alt="Query Image">

                        <label for="inputQueryImage" class="label-image">Upload Image</label>

                        <input type="file" accept="image/jpeg, image/png, image/jpg" id="inputQueryImage"
                            class="input-image" required>
                    </div>
                </div>

                <div class="row">
                    <p id="error-message" class="error-message">Error message</p>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="inputQueryButton" class="label-button">Query</label>

                        <input type="submit" id="inputQueryButton" class="input-button">
                    </div>
                </div>
            </form>

            <section class="results-section">
                <h2>Results</h2>
                <div id="resultsContainer"></div>
            </section>
        </main>


        <aside id="sidebar" class="sidebar">
            <h2>Image Details</h2>
            <div id="imageDetails"></div>
        </aside>

    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock content %}